.body {
    max-width: 1250px;
    margin: 0;

}

.banner {
    background: url(../resources/Banner\ Image.png);
    height: 600px;
    text-align: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
}

.banner-text p {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;

}

.banner-text h3 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

.banner-text {
    padding: 150px;
}

.stage1 {
    text-align: center;
}

.stage1-text {
    color: #F00;
    font-size: 58px;
    font-weight: 700;

}

.stage2-text {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.stage3-text {
    color: #070211;
    font-size: 58px;
    font-weight: 700;
}

.stage02 {
    background: url(../resources/Vectorrr.png);
    height: 600px;
    background-repeat: no-repeat;
    justify-content: space-between;
    display: flex;

}

.stage02-text {
    padding-left: 126px;
    padding-top: 70px;
}

.stage02-text h2 {
    color: #FFF;
    font-size: 79px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.stage02-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    max-width: 675px;
}

.stage02-text button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    padding-left: 90px;
}

.stage02-img {
    padding-top: 68px;
    padding-right: 128px;
    padding-bottom: 68px;
}
.stage03{
    height: 482px;
    padding-top: 50px;
}
.stage03-text {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
}

.stage03-text-color {
    color: #F00;
}

.stage03-text button {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    gap: 10px;
    color: white;
    border: none;
    font-size: 20px;
}